:root {
    --gap: 2vmin;
    --radio: calc(100vmin / 2.9);
    --width: calc(var(--radio) * .866);
    --height: var(--radio);
    font-family: 'Bellota', cursive;
    font-size: smaller;
    color:white;
}

body {
    margin: 0;
    background-color: black;
}

.layout {
    padding: 2em;
}

.header{
    text-align: center;
    font-size: 2em;

    & h1 {
        margin: 0;
    }
}

.section {
    margin: .5rem auto;
    max-width: 100vmin;
    display: grid;
    grid-gap: 2vmin;
    grid-template-columns: repeat(6, 1fr);
    
    & article {
        height: var(--height);
        width: var(--width); 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    	overflow: hidden;
        clip-path: url(#hexa-v);
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        filter: drop-shadow(0 0 1px #fff);
        background-color: darkolivegreen;

        &:nth-of-type(-n+2) {
            margin-bottom: calc(var(--height) * -.2);
        }
        &:nth-of-type(n+6):nth-of-type(-n+7) {
            margin-top: calc(var(--height) * -.2);
        }
    
        &:nth-of-type(1) {	
            grid-column: 2 / span 2;
            grid-row: 1;	
        }
        &:nth-of-type(2) {	
            grid-column: 4 / span 2;
            grid-row: 1;	
        }
        &:nth-of-type(3) {	
            grid-column: 1 / span 2;
            grid-row: 2;	
        }
        &:nth-of-type(4) {	
            grid-column: 3 / span 2;
            grid-row: 2;	
        }
        &:nth-of-type(5) {	
            grid-column: 5 / span 2;
            grid-row: 2;	
        }
        &:nth-of-type(6) {	
            grid-column: 2 / span 2;
            grid-row: 3;	
        }
        &:nth-of-type(7) {	
            grid-column: 4 / span 2;
            grid-row: 3;	
        }
    }
    
    &__title {
        margin: 0;
        text-align: center;
        color: rgb(184, 158, 109);
    }
    
    &__ul {
        padding-left: 0;
        list-style-type: circle;
    }
    
    &__p {
        margin: 0;
        text-align: center;
        color: rgb(184, 158, 109);
    }

    &__button {
        margin-top: 1em;
        width: fit-content;
        border-radius: 1em solid #8C8984;
        color: rgb(184, 158, 109);
        background-color: rgb(50, 63, 27);
    }

    &__promedio {
        & p {
            padding: 1em;
        }
    }

    &__edades {

        & ul {
            width: 10em;
        }

        & button {
            margin-top: .5em;
        }
    }

    &__invitacion {
        font-size: 2em;
    }

    &__promedio-condicional {
        padding-top: 1.3em;

        & ul {
            padding-left: 1.5em;
        }
    }

    &__pares-e-impares {

        & h2 {
            margin-bottom: .2em;
        }
        
        & ul {
            margin: 0;
            padding-left: 1.8em;
        }

        & button {
            margin-top: .4em;
        }
    }

    &__numeros-a-letras {

        & ul {
            padding-left: 1.3em;
        }
    }
}