:root {
  font-family: "Jost", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;

  & .header {
    display: flex;
    background-image: url("https://storage.googleapis.com/afs-prod/media/afs:Medium:5511630073/1900.png");
    //height: 4em;
    //width: 100vw;
    //position: fixed;
    align-items: center;
    justify-content: space-between;

    &_title {
      font-weight: bold;
      color: whitesmoke;
    }

    &_logo {
      margin-right: 1em;
      padding: 0;
    }
  }

  .nav-icon {
    margin-left: 1em;
  }

  .container_nav {
    width: 0;
    overflow: hidden;
    transition: all 1s ease;
    position: fixed;
    left: 0;
    top: 4em;
    background-color: lightcyan;
    border: 0.2em solid lightslategray;
  }

  .hamburguesa:checked ~ .container_nav {
    width: 23%;
    height: 100vh;
  }

  .hamburguesa:checked ~ .articulos {
    width: 75%;
    align-self: flex-end;
  }
}

ul {
  list-style: none;
}

ul li {
  padding: 1em;
}

.articulos {
  display: flex;
  flex-flow: row nowrap;
  padding: 1em;

  & .div_articulos {
    padding: 1em;
    border: 0.2em solid black;

    & #articulos_notice {
      padding: 1em;
      display: flex;
      //flex-flow: row nowrap;
      align-items: center;

      & h2 {
        width: 50%;
      }

      & p {
        background: #fff;
        margin-left: 1em;
        width: 80%;
        max-height: 4em;
        overflow: hidden;
        text-align: justify;
      }

      .section_button {
        display: none;
      }

      #article_label {
        margin-left: 0.5em;
        color: #ebb01c;
        font-size: 1em;
      }

      #article_label::before {
        content: "Read More...";
      }

      .section_button:checked {
        ~ #article_label::before {
          content: " ";
        }

        ~ #article_label::after {
          content: "Read Less";
          color: #5c0fd8;
        }

        ~ p {
          background-color: rgb(226, 226, 245);
          border: 1px solid rgb(199, 187, 243);
          transition: all 1s ease;
          max-height: none;
        }
      }

      & picture img {
        //width: 80%;
        margin-right: 1em;
      }
    }
  }

  @mixin comments {
    margin: 1em;
    padding: 0.3em;
    border: 3px solid #c3c3c3;
    text-align: justify;
    padding: 0.5em;
  }

  #aside_comments {
    //width: 50%;
    padding: 1em;
    border: 0.2em solid black;
    border-left: 0;
    background: #cfe2fb;

    & picture img {
      padding-top: 1em;
      width: 40%;
      transform: rotate(-45deg);
    }

    & .aside_comments_article1 {
      @include comments;
      background-color: #f7f241;
    }

    & .aside_comments_article2 {
      @include comments;
      background-color: #70dbf5;
    }

    & .aside_comments_article3 {
      @include comments;
      background-color: #c57df4;
    }
  }
}

@media (max-width: 768px) {
  .articulos {
    display: flex;
    flex-direction: column;
  }
}

/*
#section_button:checked ~ p {
  transition: .25s ease;
  background-color: red;
  background: inherit;
    max-width: 50em;
    z-index: 1;
    
  }

/*& .article1{
      background-color: #F7F241;
  }
  
  & .article2{
      background-color: #70DBF5;
  }
  
  & .article3{
      background-color: #C57DF4;
  }
}

    .articulos {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        & article
        {
            margin: 1rem;
        }
        & img
        {
            height: 5em;
            width: 5em;
            border-radius: 1rem 1rem 1rem 1rem;
        }
    }*/
