:root {
  font-family: 'Jost', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex; 
}

.header {
  display: flex;
  background-image: url("https://storage.googleapis.com/afs-prod/media/afs:Medium:5511630073/1900.png");
  height: 4em;
  width: 100vw;
  position: fixed;
  padding: 0em 1em;
  align-items: center;
  justify-content: space-between;
  
  &_title {
    font-weight: bold;
    color: whitesmoke;
  }
    
  &_logo {
    margin: 0 2em;
    width: 3em;
    height: 3em;
    border-radius: 50px;
    background-color: white;
  }
}

.container_nav {
  font-weight: bold;
  background-color: rgb(0,0,36);
  top: 4em;
  width: 300px;
  height: fit-content;
  margin: 0;
  position: fixed;
  text-align: center;
  transform: translate(-100%, 0);
  transition: all .5s ease-in-out;
  z-index: 3;
  
  &_ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    
    & a {
    color: rgb(78, 125, 233);
    text-decoration: none;
    transition: color 0.3s ease;
    }

    & li {
      padding: 1em; 
    }
  }
}

.container_nav_ul a:hover {
  color: rgb(140, 156, 194);
}

.hamburguesa:checked ~ .container_nav {
  transform: none;
}

.articles {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
}

.articles > .article:nth-child(even) {
  background: rgb(228, 228, 247);
  border-radius: 25px;
}

.article {
  display: flex;
  align-items: center;
  padding: 1em; 

  &_img {
    height: fit-content;
    border-radius: 15px;
  }

  &_target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
  }
}

.read_more:checked ~ .article_wrap .article_target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read_more ~ .article_trigger:before {
  content: 'Show more';
}

.read_more:checked ~ .article_trigger:before {
  content: 'Show less';
}

.article_trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 2px solid #ddd;
  border-radius: .25em;
}

.read_more {
  display: none;
}

.column {
  margin: 1em;
}

.aside{
  width: 15%;
  border: 0.2em solid black;
  
  /*
    & article{
      padding: 1em; 
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    
      & h2{
        width: 50%; 
      }
      
      & p{
        width: 50%
      }
      
      & picture img{
      width: 80%; 
    }
    }
}
  
aside{
  width: 20%;
  border: 0.2em solid black;
  border-left: 0;
  background: #CFE2FB;

  & picture img{
    padding-top: 1em;
    width:40%;
    transform: rotate(-45deg);
  }

  & article{
    margin: 1em;
    padding: 0.3em;
    border: 3px solid #C3C3C3;
    text-align: justify;
    padding: 0.5em;
  }
  
  & .article1{
      background-color: #F7F241;
  }
  
  & .article2{
      background-color: #70DBF5;
  }
  
  & .article3{
      background-color: #C57DF4;
  }
}

    .articulos {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        & article
        {
            margin: 1rem;
        }
        & img
        {
            height: 5em;
            width: 5em;
            border-radius: 1rem 1rem 1rem 1rem;
        }
    }
*/}