:root {
    font-family: 'MuseoModerno', cursive;
    font-size: 14px;
}

body {
    margin: 0;
}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.header {
    color:  rgb(249, 238, 177);
    background-color: rgb(238, 118, 72);
    text-align: center;
}

.container {
    margin: 0;
    padding: 2em;
    width: 100vw;
    display: flex;
    box-sizing: border-box;
    font-size: 12px;
    color: rgb(171, 36, 77);

        &__for {
            height: auto;
            width: 50vw;
            flex-direction: column;
            border-right: 0.1em solid  rgb(238, 118, 72);

            &__title {
                text-align: center;

                & span {
                    color: rgb(86, 22, 96);

                }
            }
        }

        &__while {
            height: auto;
            width: 50vw;
            flex-direction: column;

            &__title {
                text-align: center;

                & span {
                    color: rgb(86, 22, 96);

                }
            }
        }
}